<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/fcfb1d6703.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header id="header">
            <div class="title">
                <i class="fas fa-plane-departure" id="logo"></i>
                <h1>Travel Companion</h1>
            </div>
            <section class="search" id="search-bar">
                <div id="search-background">
                    <form class="submit" onsubmit="return Client.handleSubmit(event)">
                        <div class="tooltip">
                            <input type="text" placeholder="Search Destination" id="search-destination" required>
                            <span class="tooltiptext">Travel Destination</span>
                        </div>
                        <div class="tooltip">
                            <input type="date" name="arrival-date" id="arrival-date">
                            <span class="tooltiptext">Arrival Date</span>
                        </div>
                        <div class="tooltip">
                            <input type="date" name="departure-date" id="departure-date">
                            <span class="tooltiptext">Departure Date</span>
                        </div>
                        <div class="tooltip">
                            <i class="fa fa-search" id="search-button" type="submit" onclick="return Client.handleSearch(event)" onsubmit="return Client.handleSearch(event)"></i>
                            <span class="tooltiptext">Search</span>
                        </div>
                    </form>
                </div>
            </section>
        </header>
        <main>
            <div class="search-results" id="search-results-obj">
                <p id="search-destination-title">Placeholder</p>
                <div class="carousel" aria-label="Gallery">
                    <ol class="carousel__viewport">
                        <li id="carousel__slide1"
                            tabindex="0"
                            class="carousel__slide">
                            <div class="carousel__snapper">
                                <a href="#carousel__slide4"
                                    class="carousel__prev">Go to last slide</a>
                                <a href="#carousel__slide2"
                                    class="carousel__next">Go to next slide</a>
                            </div>
                        </li>
                        <li id="carousel__slide2"
                            tabindex="0"
                            class="carousel__slide">
                            <div class="carousel__snapper"></div>
                            <a href="#carousel__slide1"
                                class="carousel__prev">Go to previous slide</a>
                            <a href="#carousel__slide3"
                                class="carousel__next">Go to next slide</a>
                        </li>
                        <li id="carousel__slide3"
                            tabindex="0"
                            class="carousel__slide">
                            <div class="carousel__snapper"></div>
                            <a href="#carousel__slide2"
                                class="carousel__prev">Go to previous slide</a>
                            <a href="#carousel__slide1"
                                class="carousel__next">Go to next slide</a>
                        </li>
                    </ol>
                    <aside class="carousel__navigation">
                        <ol class="carousel__navigation-list">
                            <li class="carousel__navigation-item">
                                <a href="#carousel__slide1"
                                    class="carousel__navigation-button">Go to slide 1</a>
                            </li>
                            <li class="carousel__navigation-item">
                                <a href="#carousel__slide2"
                                    class="carousel__navigation-button">Go to slide 2</a>
                            </li>
                            <li class="carousel__navigation-item">
                                <a href="#carousel__slide3"
                                    class="carousel__navigation-button">Go to slide 3</a>
                            </li>
                        </ol>
                    </aside>
                </div>
                <div id="dest-details">
                    <div class="dest-weather-card">
                        <img src="https://www.weatherbit.io/static/img/icons/c02d.png" alt="Weather" style="width:100%" id="dest-weather-icon">
                        <div class="dest-weather-card-container">
                          <h4 id="dest-weather-date"><b>Tue, 6 April 2021</b></h4> 
                          <p id="dest-weather-desc">Scattered Clouds</p>
                          <p id="dest-temp">2.7&#176C</p> 
                        </div>
                    </div>
                    <div id="dest-text">
                        <p id="dest-arrival-date">Arrival Date: 6 April 2021</p>
                        <p id="dest-departure-date">Departure Date: 20 April 2021</p>
                        <p id="days-to-arrival">Days to Arrival: 3</p>
                    </div>
                </div>
            </div>
            <div class="popular-destinations" id="popular-destinations-obj">
                <h2 class="multicolor-text" id="pop-dest-title">Popular Destinations</h2>
                <div class="destinations-details">
                    <section id="destination-1">
                        <p class="destination-headers"><span>1.</span> Paris</p>
                        <div id="destination-1-background">
                            <img src="https://images.adsttc.com/media/images/5d44/14fa/284d/d1fd/3a00/003d/large_jpg/eiffel-tower-in-paris-151-medium.jpg?1564742900" alt="paris">
                        </div>
                    </section>
                    <section id="destination-2">
                        <p class="destination-headers"><span>2.</span> London</p>
                        <div id="destination-2-background">
                            <img src="https://lp-cms-production.imgix.net/2019-06/55425108.jpg" alt="london">
                        </div>
                    </section>
                    <section id="destination-3">
                        <p class="destination-headers"><span>3.</span> Bangkok</p>
                        <div id="destination-3-background">
                            <img src="https://trevallog.com/wp-content/uploads/2019/12/0.-Bangkok-Grand-Palace-travel-tips.jpg.webp" alt="bangkok">
                        </div>
                    </section>
                </div>
            </div>
            <section id="saved-trips"></section>
        </main>
    </body>
    <footer>
        <p>Contact |</p>
        <ul class="contact-links">
            <li>
                <a href="https://www.linkedin.com/" >
                    <img alt="linkedin" class="contact-img-link" src="https://www.flaticon.com/svg/static/icons/svg/174/174857.svg" />
                </a>
            </li>
            <li>
                <a href="https://www.github.com/" >
                    <img alt="github" class="contact-img-link" src="https://www.flaticon.com/svg/static/icons/svg/25/25657.svg" />
                </a>
            </li>
        </ul>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./service-worker.js')
                .then(registration => {
                    console.log('SW registered: ', registration);
                }).catch(registrationError => {
                    console.log('SW registration failed: ', registrationError);
                });
            });
        }
    </script>
</html>