body {
    // background:white;
    // background-image: url(https://source.unsplash.com/Q7PclNhVRI0);
    margin: 0;
    padding: 0;

    .search-results {
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        #search-destination-title {
            font-size: larger;
            font-weight: bold;
        }
    }

    .multicolor-text {
        background-image: linear-gradient(to left, #1a2a6c, #fdbb2d, #b21f1f);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    #pop-dest-title {
        margin-left: 100px;
        font-size: 300%;
        // font-weight: bold;
    }

    .destinations-details {
        background-color: black;
    }

    #destination-1-background {
        width: 100%;
        height: calc(80vh);
        // background: url("https://images.unsplash.com/photo-1528818955841-a7f1425131b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80") no-repeat 50% 50%;
        background: url("https://wallpaperaccess.com/full/58378.jpg") no-repeat 50% 50%;
        background-size: cover;
        position: relative;

        img {
            // width: 100%;
            height: calc(80vh);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    #destination-2-background {
        width: 100%;
        height: calc(80vh);
        background: url("https://i.natgeofe.com/n/1edad4f5-6a8d-4a4f-becc-bdbc7a99c9fd/01-starstruck-spica-051616.jpg") no-repeat 50% 50%;
        background-size: cover;
        position: relative;

        img {
            // width: 100%;
            height: calc(80vh);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    #destination-2-background {
        width: 100%;
        height: calc(80vh);
        // background: url("https://i.natgeofe.com/n/1edad4f5-6a8d-4a4f-becc-bdbc7a99c9fd/01-starstruck-spica-051616.jpg") no-repeat 50% 50%;
        // background-size: cover;
        position: relative;

        img {
            width: 100%;
            height: calc(80vh);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .destination-headers {
        color: white;
        font-size: xxx-large;
        margin-left: 100px;
        margin-bottom: 20px;

        span {
            color: red;
            font-size: xxx-large;
        }
    }

}